Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

Some of the popular languages that Data Scientists use are: R, Scala, Python

**Objektives:**

    -pandas,Numpy, IBM Watson, Kaggle, Branches

Some of the commonly used libraries used by Data Scientists include: Scikit-learn, pandas, Tensorflow

Data Science Tools
Anaconda Navigator
Jupyterlab
RStudio

Below are a few examples of evaluating arithmetic expressions in Python.

In [3]:
(3*4)+5 #This a simple arithmetic expression to mutiply then add integers.

17

In [4]:
200/60 #his will convert 200 minutes to hours by diving by 60

3.3333333333333335

## Autor
Burak